<div class="wrapper">
  <ul class="cards__list">
    <li class="card" *ngFor="let recipe of recipes">
      <!-- Display recipe data here -->
      <div class="card__header">
        <!-- Display user data (recipe.user) -->
        <img class="card__profile-img" [src]="null" alt="User Image"/>
        <div class="card__meta">
          <div class="card__meta__displayname">
            {{ recipe.user.firstname }} {{ recipe.user.lastname }}
          </div>
          <!-- Add button to add friend or send request -->
          <button class="card__footer__add-friend" (click)="addFriendOrSendRequest(recipe.user.id)">Add Friend / Send Request</button>
          <!-- Display other recipe metadata -->
        </div>
      </div>
      <div class="card__body">
        <!-- Display recipe content -->
        <p>{{ recipe.article }}</p>
        <!-- Display images -->
        <div class="row">
          <div *ngFor="let image of recipe.images; let i = index" class="col-md-4 mb-3">
            <img class="img-fluid" [src]="'assets/images/' + image.imageUrl" alt="Image {{i+1}}">
          </div>
        </div>
      </div>
      <div class="card__footer">
        <span class="card__footer__like">
          <i class="far fa-heart"></i> 13
        </span>
        <span class="card__footer__comment">
          <i class="far fa-comment"></i> 2
        </span>
        <span class="card__footer__share">
          <i class="fas fa-share-alt"></i>
        </span>
      </div>
    </li>
  </ul>
</div>
