html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
  }
  
  .wrapper {
    background-color: #eee;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
  }
  
  .card {
    width: 400px;
    display: grid;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
  }
  
  .card__header {
    display: flex;
  }
  
  .card__profile-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card__meta {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
  }
  
  .card__meta__displayname {
    font-weight: 700;
  }
  
  .card__meta__username {
    color: #999;
    font-size: 0.85em;
  }
  
  .card__meta__timestamp {
    color: #aaa;
    margin-top: 0.25em;
    font-size: 0.8em;
  }
  
  .card__menu {
    color: #aaa;
    font-size: 1.5em;
    align-self: center;
    margin-left: auto;
    margin-right: 0.25em;
  }
  
  .card__body {
    font-size: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 1em;
  }
  
  
  .card__body img {
    max-width: 100%;
    height: auto;
  }
  
  .card__footer {
    display: flex;
    color: #666;
  }
  
  .card__footer__comment {
    margin-left: 1em;
  }
  
  .card__footer__share {
    margin-left: auto;
    margin-right: 0.5em;
    color: #999;
  }
  

  @import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}