<!-- recipe.component.html -->

<div *ngFor="let recipe of recipes">
    <div class="wrapper">
      <ul class="cards__list">
        <li class="card">
          <!-- Display recipe data here -->
          <div class="card__header">
            <!-- Display user data (recipe.user) -->
            <img class="card__profile-img" [src]="null" alt="User Image"/>
            <div class="card__meta">
              <div class="card__meta__displayname">
                {{ recipe.user.firstname }} {{ recipe.user.lastname }}
              </div>
              <!-- Display other recipe metadata -->
            </div>
          </div>
          <div class="card__body">
            <!-- Display recipe content -->
            <p>{{ recipe.article }}</p>
            <!-- Display images -->
            <div class="slides">
              <input type="radio" name="radio-btn" id="img-{{i}}" [checked]="i === 0" *ngFor="let image of recipe.images; let i = index"/>
              <li class="slide-container" *ngFor="let image of recipe.images; let i = index">
                <div class="slide">
                  <img [src]="image.imageUrl" />
                </div>
                <!-- Add navigation controls here if needed -->
              </li>
            </div>
          </div>
          <div class="card__footer">
            <!-- Display footer data -->
          </div>
        </li>
      </ul>
    </div>
  </div>
  