<div class="align body">
  <div class="grid">
    <form class="form login" (ngSubmit)="login()">
      <div class="form__field">
        <label for="login__username">
          <svg class="icon"><use xlink:href="#icon-user"></use></svg>
          <span class="hidden">Username</span>
        </label>
        <input autocomplete="username" id="login__username" type="text" [(ngModel)]="userReq.email" name="username" class="form__input" placeholder="Username" required>
      </div>

      <div class="form__field">
        <label for="login__password">
          <svg class="icon"><use xlink:href="#icon-lock"></use></svg>
          <span class="hidden">Password</span>
        </label>
        <input id="login__password" type="password" [(ngModel)]="userReq.password" name="password" class="form__input" placeholder="Password" required>
      </div>

      <div class="form__field">
        <input type="submit" value="Sign In">
      </div>
    </form>

    <p class="text--center">Not a member? <a routerLink="/signup">Sign up now</a> <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></p>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" class="icons">
    <!-- Symbol definitions -->
  </svg>
</div>
